{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block title %}Содздание новой заявки{% endblock title %}

{% block content %}
  <div class='row'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <div class='p-5'>
        <div class='text-center'>
          <h1 class='h4 text-gray-900 mb-4'>Отправьте нам заявку!</h1>
        </div>
        <form method='POST' enctype='multipart/form-data'>
          {% csrf_token %}
          {{ send_request_form | crispy }}
          <button type='submit' class='btn btn-success btn-block'>Отправить</button>
        </form>
        <hr>
        <div class='text-center'>
          <a class='small' href='{% url "index" %}'>Назад</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
