{% extends 'base.html' %}
{% load static %}

{% block title %}Заявка создана!{% endblock title %}

{% block content %}
  <div class='row'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <div class='p-5'>
        <div class='text-center'>
          <h1 class='h4 text-gray-900 mb-4'>Заявка создана успешно!</h1>
          <p>В течении 2х часов с Вами свяжется наш сотрудник для уточнения деталей заявки.</p>
          <p>Если Вам не перезвонят в течении 2х часов, позвоните пожалуйста на горячую линию по телефону 8-800-888-00-00 (Звонок бесплатный).</p>
          <p>Спасибо что обратидись в нашу компанию.</p>
          <a href='{% url "index" %}'>Вернуться на гланую</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
