{% extends 'base.html' %}
{% load static %}

{% block title %}Django CRM - Домашняя{% endblock title %}

{% block content %}
<div class='row'>
  <div class='col-lg-6 d-none d-lg-block'>
    <img src='{% static "img/django-crm-home.png" %}' class='rounded' alt='Cinque Terre'>
  </div>
  <div class='col-lg-6'>
    <div class='p-5'>
      <div class='text-center'>
        <h1 class='h4 text-gray-900 mb-4'>Добро пожаловать в Django CRM!</h1>
      </div>
      <a href='{% url "signup" %}' class='btn btn-danger btn-block btn-lg'>Зарегистрироваться</a>
      <br>
      <a href='{% url "login" %}' class='btn btn-primary btn-block btn-lg'>Авторизироваться</a>
      <br>
      <a href='{% url "password_reset" %}' class='btn btn-success btn-block btn-lg'>Забыл/а пароль</a>
      <hr>
      <a href='{% url "index" %}'>Вернуться на гланую</a>
    </div>
  </div>
</div>
{% endblock content %}
