{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class='row'>
    <div class='col-lg-6 d-none d-lg-block'>
      <img src='{% static "img/remont.jpg" %}' class='rounded' alt='Cinque Terre'>
    </div>
    <div class='col-lg-6'>
      <div class='p-5'>
        <div class='text-center'>
          <h1 class='h4 text-gray-900 mb-4'>Добро пожаловать на сайт компании РемТЕХНИКА!</h1>
        </div>
        <hr>
        <a href='{% url "client_send_request" %}' class='btn btn-primary btn-block btn-lg'>Клиентам</a>
        <br>
        <a href='{% url "home" %}' class='btn btn-success btn-block btn-lg'>Сотрудникам</a>
        <hr>
      </div>
    </div>
  </div>
{% endblock content %}
