{% extends 'acc_base.html' %}
{% load static %}

{% block title %}Django CRM - Сброс пароля{% endblock title %}

{% block content %}
  <div class='row'>
    <div class='col-lg-6 d-none d-lg-block'>
      <img src='{% static "img/django-crm-home.png" %}' class='rounded' alt='Cinque Terre'>
    </div>
    <div class='col-lg-6'>
      <div class='p-5'>
        <div class='text-center'>
            <h2 class='h4 text-gray-900 mb-4'>Сброс пароля выполнен</h2>
        </div>
            <h3>Пароль изменён, всё получилось.</h3>
            <a href='{% url "login" %}'>Вернуться на страницу Автоизации</a>
      </div>
    </div>
  </div>
{% endblock content %}
