{% extends 'acc_base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block title %}Django CRM - Сброс пароля{% endblock title %}

{% block content %}
  <div class='row'>
    <div class='col-lg-6 d-none d-lg-block'>
      <img src='{% static "img/django-crm-home.png" %}' class='rounded' alt='Cinque Terre'>
    </div>
    <div class='col-lg-6'>
      <div class='p-5'>
        <div class='text-center'>
          <h2 class='h4 text-gray-900 mb-4'>Сброс пароля</h2>
        </div>
          <h3>Введите новый пароль</h3>
          <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Назначить новый пароль</button>
          </form>
      </div>
    </div>
  </div>
{% endblock content %} 
