{% extends 'acc_base.html' %}
{% load static %}

{% block title %}Django CRM - Сбросить пароль{% endblock title %}

{% block content %}
  <div class='row'>
    <div class='col-lg-6 d-none d-lg-block'>
      <img src='{% static "img/django-crm-home.png" %}' class='rounded' alt='Cinque Terre'>
    </div>
    <div class='col-lg-6'>
      <div class='p-5'>
        <div class='text-center'>
          <h1 class='h4 text-gray-900 mb-2'>Сбросить Пароль?</h1>
          <p class='mb-4'>Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.</p>
        </div>
        <form class='user' method='post'>
        {% csrf_token %}
          <div class='form-group'>
            {{ form.as_p }}
          </div>
            <button class='btn btn-primary btn-user btn-block' type='submit'>Сбросить пароль</button>
        </form>
        <hr>
        <div class='text-center'>
          <a class='small' href='{% url "login" %}'>Перейти на страницу авторизации?</a>
        </div>
        <div class='text-center'>
          <a class='small' href='{% url "home" %}'>На Домашнюю</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
