{% extends 'crm/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Django CRM - Изменить пароль<{% endblock title %}

{% block content %}
    <div class='container-fluid'>
        <div class='d-sm-flex align-items-center justify-content-between mb-4 mt-4'>
        <h1 class='h3 mb-0 text-gray-800'>Изменить пароль</h1>
        </div>          
        <div class='card o-hidden border-0 shadow-lg my-5'>
          <div class='card-body p-0'>
            <div class='row'>
              <div class='col-lg-3'></div>
              <div class='col-lg-6'>
                <div class='p-5'>
                  <div class='text-center'>
                    <h1 class='h4 text-gray-900 mb-4'>Измените свой парль!</h1>
                  </div>
                  <form method='POST'>
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type='submit' class='btn btn-success btn-block'>Изменить</button>
                  </form>
                  <hr>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}


