{% extends 'crm/base.html' %}

{% block content %}
    <div class='container-fluid'>
        <div class='d-sm-flex align-items-center justify-content-between mb-4 mt-4'>
            <h1 class='h3 mb-0 text-gray-800'>Панель управления</h1>
        </div>          
          <div class='row'>
        <div class='container-fluid'>     
          <div class='card shadow mb-4'>
            <div class='card-header py-3 d-flex flex-row align-items-center justify-content-between'>
              <h3 class='h3 mb-0 text-gray-800'>Все Клиенты</h3>
              <a href='{% url "new_client" %}' class='d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm'><i class='fas fa-plus fa-sm text-white-50'></i> Содать Клиента</a>
            </div>
            <div class='card-body'>
              <div class='table-responsive'>
                <table  class='table table-hover' id='dataTable' width='100%' cellspacing='0'>
                {% if object_list %}
                  <thead>
                    <tr>
                      <th>Имя</th>
                      <th>Почта</th>
                      <th>Телефон</th>
                      <th>Телеграм</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Имя</th>
                      <th>Почта</th>
                      <th>Телефон</th>
                      <th>Телеграм</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for obj in object_list %}
                        <tr>
                        <td><a href='{% url "client_profile" obj.pk %}'>{{ obj.first_name }} {{ obj.last_name }}</a></td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.phone }}</td>
                        <td>{{ obj.telegram }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                  {% else %}
                  <tr>Клиентов пока нет</tr>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}
