{% extends 'base.html' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
            <h1 class="h3 mb-0 text-gray-800">Панель управления</h1>
        </div>          

        <!-- Main Content Here -->
          <div class="row">

            <!-- Company Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Заявки</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{requests_count}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-home fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Contact Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Сотрудники</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="container-fluid">     

          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
               <h3 class="h3 mb-0 text-gray-800">Все Заявки</h3>

                <div class="main-toolbar-sorter f-right">
                  <div class="toolbar-sorter">
                  <form method="get">
                      <button type="submit" class="btn btn-light">Сортировать</button>
                      <select class="sorter" name="sort">
                          <option name="sort" value="subject" {{ by_subject.get_subject_display }}>По типу</option>
                          <option name="sort" value="created" {{ by_created }}>По дате</option>
                          <option name="sort" value="-status" {{ by_status.get_status_display }}>По статусу</option>
                      </select>
                  </form>
                  </div>
                </div>

            </div>
            <div class="card-body">
              <div class="table-responsive">

                <table  class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                {% if requests %}
                  <thead>
                    <tr>
                      <th>Имя</th>
                      <th>Почта</th>
                      <th>Телефон</th>
                      <th>Дата получения</th>
                      <th>Тип заявки</th>
                      <th>Статус заявки</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Имя</th>
                      <th>Почта</th>
                      <th>Телефон</th>
                      <th>Дата получения</th>
                      <th>Тип заявки</th>
                      <th>Статус заявки</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for req in requests %}
                    
                        <tr>
                        <td><a href='{% url "request-detail" request_id=req.id %}'>{{ req.first_name }} {{ req.last_name }}</a></td>
                        <td>{{ req.email }}</td>
                        <td>{{ req.phone }}</td>
                        <td>{{ req.created }}</td>
                        <td>{{ req.get_subject_display }}</td>
                        <td>{{ req.get_status_display }}</td>
                        </tr>
                    
                    {% endfor %}
                  </tbody>
                  {% else %}
                  <tr>Заявок нет</tr>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
        
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock content %}
