{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Профиль</h1>
        </div>          

        <!-- Main Content Here -->
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3 my-5">
            <img src="{{user.profile.photo.url}}" class="rounded float-right" height="300px" width="300px">
          </div>
          <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
            <div class="card-body">
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <p><strong>Имя: </strong> {{user.username}} </p>
                <p><strong>Почта: </strong> {{user.email}} </p>
                <p><strong>Должность: </strong> {{user.profile.get_role_display}} </p>
                <p><strong>Телефон: </strong> {{user.profile.phone}} </p>
                <a href="{% url 'profile-update' %}" class="btn btn-sm btn-primary shadow-sm">Обновить Профиль</a>
            </div>
          </div>
        </div>
        
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock content %}
