{% extends 'crm/base.html' %}
{% load static %}

{% load crispy_forms_tags %} 

{% block content %}
    <div id='content-wrapper' class='d-flex flex-column'>
      <div id='content'>
        <div class='container-fluid'>
          <div class='d-sm-flex align-items-center justify-content-between mb-4 mt-4'>
            {% include 'crm/includes/filter_requests.html' with post=post %}
          </div>          
          <div class='card shadow mb-4'>
            <div class='card-header py-3 d-flex flex-row align-items-center justify-content-between'>
              <h1 class='h3 mb-0 text-gray-800'>Мои Заявки</h1>
            </div>
            <div class='card-body'>
              <div class='table-responsive'>
                <table  class='table table-hover' id='dataTable' width='100%' cellspacing='0'>
                {% if object_list %}
                  <thead>
                    <tr>
                      <th>Имя</th>
                      <th>Почта</th>
                      <th>Телефон</th>
                      <th>Дата получения</th>
                      <th>Статус заявки</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Имя</th>
                      <th>Почта</th>
                      <th>Телефон</th>
                      <th>Дата получения</th>
                      <th>Статус заявки</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for obj in filter.qs %}
                        <tr>
                        <td><a href='{% url "request_detail" obj.pk %}'>{{ obj.first_name }} {{ obj.last_name }}</a></td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.phone }}</td>
                        <td>{{ obj.created }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                  {% else %}
                  <tr>Заявок нет</tr>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
