{% extends 'crm/base.html' %}

{% load crispy_forms_tags %} 

{% block content %}
    <div class='container-fluid'>
        <div class='d-sm-flex align-items-center justify-content-between mb-4 mt-4'>
        <h1 class='h3 mb-0 text-gray-800'>Обновить заявку</h1>
        </div>          
        <div class='card o-hidden border-0 shadow-lg my-5'>
          <div class='card-body p-0'>
            <div class='row'>
              <div class='col-lg-3'></div>
              <div class='col-lg-6'>
                <div class='p-5'>
                  <div class='text-center'>
                    <h1 class='h4 text-gray-900 mb-4'>Заявка № {{ request.pk }}</h1>
                  </div>
                  <div>
                      <p><strong>Имя: </strong> {{ request.first_name }} </p>
                      <p><strong>Фамилия: </strong> {{ request.last_name }} </p>
                      <p><strong>Почта: </strong> {{ request.email }} </p>
                      <p><strong>Телефон: </strong> {{ request.phone }} </p>
                      <p><strong>Телеграм: </strong> {{ request.telegram }} </p>
                      <p><strong>Описание: </strong> {{ request.description }} </p>
                    <form method='POST' enctype='multipart/form-data'>
                      {% csrf_token %}
                      {{request_form | crispy}}
                      <br/>
                      <button type='submit' class='btn btn-success btn-block'>Обновить</button>
                    </form>
                  <hr>
                  </div>
                  <div class='text-center'>
                    <a class='small' href='{% url "request_detail" request.pk %}'>Назад</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
